html{

  height:100%;
  width:100%;

  background-color: #EAECE9;
  
  color: #393738;
  font-family: 'Varela Round', sans-serif;
}

body{
  display:flex;
  flex-direction:column;
  margin:0px;
  height:calc(100% - 2em);
  width:calc(100% - 2em);
  margin:1em;

}

header{
  width:100%;
}
header span{
  padding:0.2em;
  float:right;
  font-weight:bold;
}

div#content{
  width:100%;
  flex-grow:1;
  flex-direction:column;

  display:flex;
  justify-content: center;
  align-items:center;
}

footer{
  width:100%;
  margin-top:0.75em;
  border-top: 2px solid #AAAAAA;
}
footer span{
  padding:0.5em;
  float:right;
  font-weight:bold;
}

.game-container{
  display:block;
  margin:2em 0em;
  max-width:100%;
}

game-card{
  width:200px;
  height:200px;
}
game-card:focus{
  outline:none;
}

.menu-container{
  display:flex;
  flex-direction:row;
  margin-top:1em;
}
    
menu-icon{
  padding:0.5em;
  width:70px;
}
menu-icon:focus{
  outline:none;
}