
<template id="menu-icon-template">
  <style>
    .menu-icon__container{
      display:block;
      flex-direction:column;
    }

    .menu-icon__image{
      display:block;
      border-radius: 100%;
      border: 2px solid #E8E8E8;
      width:100%;
    }

    .menu-icon__label{
      display:block;
      color:#05DED2;
      font-weight:normal;
      font-size: 1.1em;
      text-align:center;
    }
  </style>

  <div class="menu-icon__container">
    <img class="menu-icon__image"/>
    <label class="menu-icon__label"> </label>
  </div>

</template>

<!-- import the javascript -->
<script src="./MenuIcon.js"></script>
